.custom-button {
  width: 80px;
  height: 80px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: Monaco, "Lucida Console", monospace;
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: red;
}
